<script xmlns="http://www.w3.org/1999/html">


</script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="JavaScript:window.location.reload()">Big Brother Sniper</a>
    </div>
    <ul class="nav navbar-nav">
      <li onclick="activeMyInfo()" class="active"><a data-toggle="tab" href="#alertInfo" id="chul1">알림판</a></li>
      <li onclick="activeChulCheck()"><a data-toggle="tab" href="#bigbrother_sniper" id="chul2">규칙 설정</a></li>
      <li onclick="activeChulCheckList()"><a data-toggle="tab" href="#alertInfo_log_list" id="chul3">알림 로그 기록</a></li>
      <li onclick="activeChulCheckLis()"><a data-toggle="tab" href="#UserLogInfo_list" id="chul4">사용자 로그 기록</a></li>
    </ul>
      <ul class="navbar-form navbar-right" ng-controller="LogoutController">
          <input name="logout" class="btn btn-danger" tabindex="4" value="종료" ng-click="doLogout()" onclick="void()">
          <!-- Modal -->
          <div class="modal fade" id="logoutCheck" role="dialog">
              <div class="modal-dialog" >

                  <!-- Modal content-->
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">경고</h4>
                      </div>
                      <div class="modal-body">
                          <p>정말 로그아웃 하시겠습니까?</p>
                      </div>
                      <div class="modal-footer">
                          <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="doLogout()">Logout</button>
                      </div>
                  </div>

              </div>
          </div>
      </ul>
  </div>
</nav>

<div class="tab-content bigbrother-content container">
	<div id="alertInfo" class="tab-pane fade in active" >

        <div class="panel panel-default" ng-controller="BigbrotherController" ng-init="loadalertlist();startInterval()">
  			<div class="panel-heading">알림</div>

                <div class="panel-body">
                    <div class="row" >
                        <div class="col-md-3">
                            <div class="modal fade" id="failednumber" role="dialog">
                                <div class="modal-dialog" >

                      <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">경고</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-7">
                        </div>
                        <div class="col-md-2">
                            <input type="button" id ="subject_submit" class="btn btn-primary" style="width:100%;margin-bottom:10px" value="전체 숨기기" ng-click="alertAllHidnStart();loadAlertList()">
                        </div>

                    </div>
                    {% verbatim %}
                    <div ng-class="alertClass(alert.drop_on_flag, alert.newFlag)" ng-repeat="alert in alerts" ng-click="newAlertWasRead(alert.id)">
                        <table>
                            <tr><th width=50><element ng-bind-html="flagBgcolorSellect(alert.color, alert.drop_on_flag)"></element></th><th width=100>[이름 : {{alert.username}}] </th><th width=200>  {{alert.keyword}}</th><th align=right> [기록 시간 :{{alert.recordTime}}]</th>

                                    <button id="{{alert.id+0}}" type="button" class="btn btn-default" style="float: right;height:40px;margin-top:-9px;" ng-click="HidnAlertFilter($event.target);loadAlertList()">숨기기</button>


                                    <button id="{{alert.id}}" type="button" class="btn btn-success" style="float: right;height:40px;margin-top:-9px;" ng-click="clickpreview($event.target)">사진보기</button>


                            </tr>
                        </table>


                        <div class="modal fade" id="deleteCheck" role="dialog">
                            <div class="modal-dialog" >
                              <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">경고</h4>
                                    </div>
                                <div class="modal-body">
                                <p>정말 삭제 하시겠습니까?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteAlertFilter()">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="deleteAllModal" role="dialog">
                        <div class="modal-dialog" >
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">경고</h4>
                                </div>
                            <div class="modal-body">
                                <p>정말 모든 알림기록을 삭제 하시겠습니까?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="alertAllDeleteStart()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

                <div class="modal fade" id="ViewPicture" role="dialog">
                    <div class="modal-dialog modal-lg" >
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{alertInfo.keyword}}</h4>
                            </div>
                            <div class="modal-body">
                                <img src='data:image/jpeg;base64,{{alertInfo.pictureBase64}}'  />
                                <p>{{alertInfo.explain}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default" data-dismiss="modal">닫기</button>
                                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="deleteAlertFilter()">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <p style="float:right">총 {{alerts.length}}개의 알림이 있음</p>
                    {% endverbatim %}
        </div>
    </div>

</div>

<div id="bigbrother_sniper" class="tab-pane fade" ng-controller="BigbrotherSniperCheckController" ng-init="loadListLocation();startInterval()">
    <div class="panel panel-default">
        <div class="panel-heading">규칙<i class="fa fa-cog fa-spin" ng-click="locationModalUp()" style="cursor:pointer;float: right; font-size:24px"></i></div>
            <div class="panel-body">
              <!--location-->
                     {% verbatim %}
                <div class="well" ng-repeat="location in locations">
                    <i class="fa fa-cog fa-spin" ng-click="RuleModalUp(location.pk, location.uuid, location.range, location.location)" style="cursor:pointer; font-size:24px"></i>
                    <table><tr>
                        <element ng-bind-html="locationTable(location.location, location.uuid, location.range)"></element>
                        <button id="{{location.pk}}" type="button" class="btn btn-default" style="float: right;height:40px;margin-top:-9px;" ng-click="clicklocationdelete($event.target)">삭제</button>
                    </tr></table>
                    <hr>

                    <div class="modal fade" id="deletelocation" role="dialog">
                        <div class="modal-dialog" >
                          <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">경고</h4>
                                </div>
                                <div class="modal-body">
                                    <p>정말 삭제 하시겠습니까?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteLocationList();">Delete</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="well" ng-repeat="textFilter in location.textFilters">
                    <table><tr>
                        <element ng-bind-html="textFilterTable(textFilter.drop_on_flag, textFilter.text_value, textFilter.explain, textFilter.location, textFilter.range, textFilter.picRequest)"></element>
                        <button id="{{textFilter.id}}" type="button" class="btn btn-default" style="float: right;height:40px;margin-top:-9px;" ng-click="clickdelete($event.target)">삭제</button>
                    </tr></table>

                    <div class="modal fade" id="deleteText" role="dialog">
                        <div class="modal-dialog" >
                          <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">경고</h4>
                                </div>
                                <div class="modal-body">
                                    <p>정말 삭제 하시겠습니까?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteAlertFilterText();">Delete</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                    <div class="well" ng-repeat="labelFilter in location.labelFilters">
                    <table><tr>
                        <element ng-bind-html="labelFilterTable(labelFilter.drop_on_flag, labelFilter.label_value, labelFilter.explain, labelFilter.location, labelFilter.range, labelFilter.picRequest)"></element>
                        <button id="{{labelFilter.id}}" type="button" class="btn btn-default" style="float: right;height:40px;margin-top:-9px;" ng-click="clickdelete2($event.target)">삭제</button>
                    </tr></table>
                    <div class="modal fade" id="deleteLabel" role="dialog">
                        <div class="modal-dialog" >
                  <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">경고</h4>
                                </div>
                                <div class="modal-body">
                                    <p>정말 삭제 하시겠습니까?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteAlertFilterLabel();">Delete</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                </div>

			{% endverbatim %}

        <!--필터 규칙 설정-->
    <div class="modal fade" id="locationSetting" role="dialog" aria-labelledby="settingTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">닫기</span>
                    </button><link rel="stylesåheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <h4 class="modal-title" id="LocationSettingTitle">인식 필터값 설정 <i class="fa fa-question-circle-o" data-toggle="explainIcon2" data-trigger="hover" title="인식 필터값 설정이란" data-html="true" data-content="필터:걸러 낼 값<br>explain:설명(주석)<br>옵션1)텍스트인식과 사물인식<br>옵션2)alert(알림), drop(삭제) " data-placement="right"></i> </h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <input type="text" name="uuid" id="uuid" data-toggle="popover" data-trigger="focus" class="form-control" tabindex="1" placeholder="비콘 UUID" value="uuid" ng-model="createLocationMaker.uuid">
                    </div>

                    <div class="form-group">
                        <input type="text" name="location" id="location" data-toggle="popover" data-trigger="focus" class="form-control" tabindex="1" placeholder="장소" value="location" ng-model="createLocationMaker.location">
                    </div>

                    <div class="form-group">
                        <input type="number" min="0" max="7000" name="maxRange" id="maxRange" data-toggle="popover" data-trigger="focus" class="form-control" tabindex="1" placeholder="범위 (cm)" value="maxRange" ng-model="createLocationMaker.maxRange">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="createLocationMaker();startInterval()" data-dismiss="modal">Save</button>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="ruleSetting" role="dialog" aria-labelledby="settingTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">닫기</span>
                    </button><link rel="stylesåheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <h4 class="modal-title" id="settingTitle">인식 필터값 설정 <i class="fa fa-question-circle-o" data-toggle="explainIcon2" data-trigger="hover" title="인식 필터값 설정이란" data-html="true" data-content="필터:걸러 낼 값<br>explain:설명(주석)<br>옵션1)텍스트인식과 사물인식<br>옵션2)alert(알림), drop(삭제) " data-placement="right"></i> </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {% verbatim %}{{range}}<element ng-bind-html="ruleSettingAboutDialog()"></element>{% endverbatim %}
                     </div>
                    <hr><br>
                    <div class="form-group">
                                <input type="text" name="range" id="range" data-toggle="popover" data-trigger="focus" class="form-control" tabindex="1" placeholder="범위 (cm)" value="range" ng-model="createRuleMaker.range">
                     </div>
                    <div class="form-group">
                                <input type="text" name="filter" id="filter" data-toggle="popover" data-trigger="focus" tabindex="1" class="form-control"  placeholder="필터 " value="filter" ng-model="createRuleMaker.filter">
                     </div>
                    <div class="form-group">
                                <input type="text" name="explain" id="explain" data-toggle="popover" data-trigger="focus" tabindex="1" class="form-control" ng-keyup="doCheckId()" placeholder="explain" value="explain" ng-model="createRuleMaker.explain">
                      </div>
                    <form>
                        <input type="radio" name="val" value="0" ng-model="createRuleMaker.val">텍스트
                        <input type="radio" name="val" value="1" ng-model="createRuleMaker.val">사물<br>
                    </form>
                    <hr>
                    <form>
                        <input type="radio" name="dropFlag" value="0"ng-model="createRuleMaker.dropFlag">Alert
                        <input type="radio" name="dropFlag" value="1" ng-model="createRuleMaker.dropFlag">Drop<br>
                    </form>
                    <form>
                        <input type="checkbox" name="picRequest" value="1" ng-model="createRuleMaker.picRequest">촬영 사진 요청<br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="createRuleMaker();startInterval()" data-dismiss="modal">Save</button>

                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------->
        </div>
    </div>
    </div>
    <!-- 알림 기록 -->
    <div id="alertInfo_log_list" class="tab-pane fade" ng-controller="AlertInfoController_list" ng-init="alertInfoListView()">
        <div class="panel panel-default">
            <div class="panel-heading">알림 기록 창</div>
            <div class="panel-body">
                <div class="form-group">
                    <select ng-model="selectedDate" style="width:100%;" ng-change="alertInfoListViewClick()" ng-mouseover="alertInfoListView()">
                        <option ng-selected="selected" value="0">날짜를 선택해 주십시오</option>
                        {% verbatim %}
                        <option ng-repeat="Date in DateList" value="{{Date.date}}">[{{Date.date}}]</option>
                        {% endverbatim %}
                        <hr>
                            <input type="button" id ="all_delete_log" class="btn btn-primary" style="width:100%;margin-bottom:10px" value="전체 삭제" ng-click="alertAllDelete();">
                    {% verbatim %}
                    <div class="panel panel-default" ng-repeat="alert in alerts">
                        <table>
                            <tr><th>[{{alert.drop_on_flag}}]</th><th>[이름 : {{alert.username}}] </th><th>[키워드 : {{alert.keyword}}]</th><th> [기록 시간 :{{alert.recordTime}}]</th>

                                    <button id="{{alert.id+00}}" type="button" class="btn btn-default" style="float: right;height:40px;margin-top:-9px;" ng-click="clickdelete($event.target)">삭제</button>


                                    <button id="{{alert.id+000}}" type="button" class="btn btn-success" style="float: right;height:40px;margin-top:-9px;" ng-click="clickpreview($event.target)">사진보기</button>


                            </tr>
                        </table>


                        <div class="modal fade" id="deleteLogCheck" role="dialog">
                            <div class="modal-dialog" >
                              <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">경고</h4>
                                    </div>
                                <div class="modal-body">
                                <p>정말 삭제 하시겠습니까?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteAlertFilter();alertInfoListViewClick();">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="deleteLogAllModal" role="dialog">
                        <div class="modal-dialog" >
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">경고</h4>
                                </div>
                            <div class="modal-body">
                                <p>정말 모든 알림기록을 삭제 하시겠습니까?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="alertAllDeleteStart();alertInfoListViewClick();">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

                <div class="modal fade" id="ViewPictureLog" role="dialog">
                    <div class="modal-dialog modal-lg"  >
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{alertInfo.keyword}}</h4>
                            </div>
                            <div class="modal-body">
                                <img src='data:image/jpeg;base64,{{alertInfo.pictureBase64}}'/>
                                <p>{{alertInfo.explain}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default" data-dismiss="modal">닫기</button>
                                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="deleteAlertFilter()">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <p style="float:right">총 {{alerts.length}}개의 기록이 있음</p>
                    {% endverbatim %}
                        </select>


                </div>
            </div>
        </div>
    </div>




    <div id="UserLogInfo_list" class="tab-pane fade" ng-controller="UserLogInfoController_list" ng-init="UserLogInfoListView()">
        <div class="panel panel-default">
            <div class="panel-heading">사용자 로그 기록 창</div>
            <div class="panel-body">
                <div class="form-group">
                    <select ng-model="selectedDate" style="width:100%;" ng-change="UserLogInfoListViewClick()" ng-mouseover="UserLogInfoListView()">
                        <option ng-selected="selected" value="0">날짜를 선택해 주십시오</option>
                        {% verbatim %}
                        <option ng-repeat="Date in DateList" value="{{Date.date}}">[{{Date.date}}]</option>
                        {% endverbatim %}

                       {% verbatim %}
                    <div class="panel panel-default" ng-repeat="alert in alerts">
                        <table>
                            <tr><th>[이름 : {{alert.username}}] </th><th>[시작시간 : {{alert.startConnectionDate}}]</th><th>[{{alert.finalConnectionDate}}]</th>
                            </tr>
                        </table>
            <p style="float:right">총 {{alerts.length}}개의 기록이 있음</p>
                    {% endverbatim %}
                    </div>
                    </select>


                </div>
            </div>
        </div>
    </div>

</div>


